{% extends 'gameapp/base.html' %}
{% block title %} Game SignUp Page {% endblock %}


{% block content %}
<div class="container text-center">
    <div class="row justify-content-center">
<div class="col-md-5 m-2">
<div class="card border border-primary m-1 p-1 shadow-sm">
<div class="card-body">
<h1 class="display-6 text-danger">Signup</h1>

{% if messages %}
    {% for field in messages %}
     
   <p> <i class="bi bi-envelope-fill" style="font-size: 4rem; color: rgb(96, 170, 12);"></i></p>
      
     <p> <strong>{{ field }}</strong> </p>
     
    {% endfor %}
    {% endif %}


{% if form.errors %}
<strong><p>Your username and password didn't match. Please try again.</p></strong> 
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
   <strong> <p>Please login to see this page.</p></strong>
    {% endif %}
{% endif %}

<form method="POST">
    {% csrf_token %}  
    {% if form.non_field_errors %}
      {% for x in form.non_field_errors %}
        <span class="text-primary"><strong>{{ x }}</strong></span>
      {% endfor %}
    {% endif %}
    
    {% for field in form %}
      {% if field.name == 'password1' %}
        <span class="text-primary">{{ field.label_tag }}</span>
        <span class="form-control shadow-sm mt-2">{{ field }} <i class="bi bi-eye-slash-fill" id="togglePassword"></i></span>
  
        <span><p id="val{{forloop.counter}}"></p></span>
  
      {% elif field.name == 'password2' %}
      <span class="text-primary">{{ field.label_tag }}</span>
      <span class="form-control shadow-sm mt-2">{{ field }} <i class="bi bi-eye-slash-fill" id="togglePassword2"></i></span>
  
      <span><p id="val{{forloop.counter}}"></p></span>
  
  
      {% else %}
        <span class="text-primary">{{ field.label_tag }}</span>
        <span class="form-control shadow-sm mt-2">{{ field }}</span>
        <span><p id="val{{forloop.counter}}"></p></span>
      {% endif %}
      <br>
      {% if field.errors %}
        <strong>{{ field.errors }}</strong>
      {% endif %}
    {% endfor %}  
    <input class="btn btn-primary shadow-sm mt-2 mb-3" type="submit" value="Sign Up">
  </form>



                        </div>


                    </div>


                </div>


            </div>

        </div>


<script>
$(document).ready(
    showPassword(),
    showPassword2(),


);

</script>
{% endblock %}